:root {
  --bar-height: 90px;
  --main-color: #9147ff;
}

.player-overlay {
  height: 100%;
  width: 100%;
  background: rgba(2, 2, 2, 0.5);
  z-index: 900;

  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-bar {
  background-color: none;
  height: var(--bar-height);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.bar-slider-container {
  background-color: none;
  width: 100%;
  height: 50%;
  padding: 0px 30px 0px 30px;
}

.bar-bottom-container {
  height: 50%;
  width: 100%;
  background-color: transparent;
}

.bar-left-container {
  height: 100%;
  width: 40%;
  background-color: transparent;
  float: left;
}

.bar-center-container {
  height: 100%;
  width: 20%;
  float: left;
  background-color: transparent;
}

.bar-right-container {
  height: 100%;
  width: 40%;
  background-color: transparent;
  float: right;
}

.control-play {
  cursor: pointer;
  right: 50%;
  top: calc(50% - var(--bar-height));
  position: absolute;
  font-size: 30px;
  background: transparent;
  color: var(--main-color);
  fill: transparent;
}

.img-btn {
  height: 40px;
  width: 40px;
  background: none;
}

.control-forward {
  cursor: pointer;
  right: 25%;
  top: calc(50% - var(--bar-height));
  position: absolute;
  font-size: 30px;
  background: none;
  color: var(--main-color);
}

.control-rewind {
  cursor: pointer;
  right: 75%;
  top: calc(50% - var(--bar-height));
  position: absolute;
  font-size: 30px;
  background: none;
  color: var(--main-color);
}

.control-title {
  position: absolute;
  background: none;
  top: 10%;
  left: 10px;
  font-size: 30px;
  color: var(--main-color);
}

.control-fullscreen {
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: var(--main-color);
}

.control-pip {
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: var(--main-color);
}

.control-next-ep {
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: var(--main-color);
}

.control-bar-mute {
  background-color: none;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
  float: left;
  color: var(--main-color);
}

.control-bar-volume {
  -webkit-appearance: none;
  float: left;
  margin-left: 15px;
  margin-top: 18px;
}

.control-duration {
  background-color: transparent;
  text-align: center;
  margin-top: 10px;
  color: var(--main-color);
}

.control-seek-slider {
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 30px;
  bottom: 5;
  left: 0;
  padding: 10px;
  margin-top: 5px;
  width: 100%;

}

.control-skip {
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  color: var(--main-color);
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--main-color);
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  background: var(--main-color);
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #24251c;
  cursor: -webkit-grab;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: none;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}