.dropdown-menu {
  width: auto;
  float: left;
  text-align: start;
  text-decoration: none;
  list-style: none;
  z-index: 999;
  border: 1px solid #22F2AA;
  box-shadow: 0 0 10px #22F2AA;
  border-radius: 25px;
  margin: 1rem .5rem;
}

.dropdown-menu li {
  cursor: pointer;
  border-radius: 25px;
}

.dropdown-menu li:hover {
  text-shadow: 0 0 15px #22F2AA;
}

.dropdown-menu.clicked {
  display: none;
  border-radius: 25px;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 16px;
  color: #f5f5f5;
}

span {
  margin-left: 16px;
}