:root{
  --main-color: #9147ff;
}

.navbar{
  height: 80px;
  width: 100%;
  background: transparent;
}

.navbar-left{
  height: 100%;
  width: 20%;
  float: left;
  background: transparent;
}

.menu-icon{
  height: 32px;
  width: 32px;
  color: var(--main-color);
  cursor: pointer;
  background: transparent;
}


.navbar-center{
  width: 60%;
  float: left;
  color: var(--main-color);
  text-shadow: 0 0 5px var(--main-color);
  text-align: center;
  background: transparent;
}

.credits{
  color: var(--main-color);
  text-shadow: 0 0 5px var(--main-color);
  font-weight: 600;
  font-size: 28px;
  margin-top: 10px;
  background: transparent;
}

.version{
  color: var(--main-color);
 /*  margin-top: 10px; */
  text-shadow: 0 0 5px var(--main-color);
  font-weight: 600;
  font-size: 22px;
  background: transparent;
}

.navbar-right{
  height: 100%;
  width: 20%;
  float: right;
  background: transparent;
}

.menu-bars {
  margin-left: 2rem;
  margin-top: 22px;
  float: left;
  font-size: 2rem;
  background: none;
  z-index: 999;
  /* position: fixed; */
  background: transparent;
}

.nav-menu {
  background-color: #091921 !important;
  box-shadow: 0 0 5px var(--main-color);
  width: 250px;
  z-index: 999;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  background: transparent;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  background: transparent;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  background: transparent;
}

.nav-text a:hover {
  text-shadow: 0 0 15px var(--main-color);
}

.nav-menu-items {
  width: 100%;
  box-shadow: 0 0 10px var(--main-color);
}

.navbar-toggle {
  background: transparent;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
  background: transparent;
}

.user{
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 100%;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 14px;
}

.user:hover{
  box-shadow: 0 0 20px var(--main-color);
}

.settings-button{
 cursor: pointer;
}

.settings-box.active {
  visibility: visible;
  top: 10%;
  transition: .35s;
}

.settings-box {
  height: 40%;
  width: 50%;
  position: absolute;
  top: -100%;
  transition: .35s;
  z-index: 1000;
  border-radius: 25px;
  background: #091921;
  border: 1px solid var(--main-color);
}

.settings-top{
  width: 100%;
  height: 75%;
  border-radius: 25px;
}

.settings-left{
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.settings-right{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
}

.settings-header{
  color: var(--main-color);
  text-align: center;
  border-bottom: 1px solid var(--main-color);
  background: transparent;
}

.profile-box{
  height: 125px;
  width: 200px;
  visibility: hidden; 
  opacity: 0;
  position: absolute;
  z-index: 999;
  transition: 350ms;
  background: #091921;
  right: 2rem;
  top: 6rem;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 5px var(--main-color);
}

.profile-box.active {
  visibility: visible;
  transition: 350ms;
  opacity: 1; 
}

.profile-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 1px;
  list-style: none;
  height: 60px;
  color: #f5f5f5;
  cursor: pointer;
}

.profile-text:hover{
  text-shadow: 0 0 15px var(--main-color);
}

.settings-box-backdrop{
  top: -100%;
  display: flex;
  justify-content: center;
  transition: 350ms;
  background: transparent;
  height: 100%;
  width: 100%;
  margin-left: -2rem;
  position: fixed;
  z-index: 1;
}

.settings-box-backdrop.active{
  top: 0;
  transition: 350ms;
}

li{
  list-style: none;
}

.settings-input{

}

.settings-label{
  font-size: 18px;
}